
# Eclipse workspace/project settings
.settings/

# Eclipse workspace metadata
.metadata/

# Eclipse project file
.project
.pydevproject

# temp files 
*~

# python byte code
*.pyc

# the js libraries
scripts/libraries/*.js

# this is the analytics for this site
scripts/analytics.js
